$light: #fff;
$primary-color: #e8937f;
$secondary-color: #364a6f;
$success: #364a6f;
$black: #000;
$alert:#ec4727;
$border-color:#dedede;
$primary-font:'Roboto', sans-serif;
$secondary-font:'Volkhov', serif;
$icon-font: 'themefisher-font';
